$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
$primary-color: #0e6cff;
// $primary-color: lightblue; // using this instead will show off the functons which flip the text and button colours
$secondary-color: #ff8700;