.container {
    max-width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
}


@function set-text-colour-based-on-background-colour($background-colour) {
    @if (lightness($background-colour) > 70) {
        @return #333;
    } @else if (1 == 2) {
        // just to show else if exists
        @return red;
    } @else {
        @return #fff;
    }
}

@mixin set-background-colour-and-appropriate-font-colour($colour) {
    background-color: $colour;
    color: set-text-colour-based-on-background-colour($colour);
}

// margin and padding classes
$spacing-numbers: (1,2,3,4,5);

@each $space in $spacing-numbers {
    .m-#{$space} {
        margin: #{$space}rem;
    }

    .my-#{$space} {
        margin: #{$space}rem 0;
    }

    .mx-#{$space} {
        margin: 0 #{$space}rem;
    }

    .p-#{$space} {
        padding: #{$space}rem;
    }

    .py-#{$space} {
        padding: #{$space}rem 0;
    }

    .px-#{$space} {
        padding: 0 #{$space}rem;
    }
}