@import 'config';
// wherever you put the import statements is where they'll render, we have more at the bottom of style.scss

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    background-color: $light-color;
    font-family: $font-stack;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.showcase {
    @include set-background-colour-and-appropriate-font-colour($primary-color);
    height: 600px;

    &-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;

        img {
            width: 50%;
        }

        h1 {
            font-size: 50px;
            line-height: 1.2;
        }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        ul {
            display: flex;
            list-style: none;
        }

        li {
            padding: 15px;
        }

        a:hover {
            color: $secondary-color;
        }
    }

    a {
        color: set-text-colour-based-on-background-colour($primary-color);
    }
}

// wherever you put the import statements is where they'll render
@import 'mobile';
@import 'utilities';
@import 'buttons';